
.div-root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: red;
}



.welcome-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 30rem;
    background-color: whitesmoke;
}



.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-div img {
    width: 100px; 
    border-radius: 50%;
}
