
.div-root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: red;
}



.welcome-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 30rem;
    background-color: whitesmoke;
}


.image-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}


.image-div img {
    width: 100px; 
    border-radius: 50%;
}

@media screen and (max-width:750px) {
    .welcome-div {
       
        width: 80%;
        height: 30rem;
    }
}