.login-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.login-input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}
.icon{
    color: grey;
    margin-right: .5rem;
}
.link{
    text-decoration: none;
}
.forgot-pswd-div{
    display:flex;
}
.text-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.text-div h4, .text-div small { margin: .1rem; }
.h3-text{
    text-align: center;
    color:rgb(41, 39, 39);
}
.h5-text{
    text-align: center;
    font-size: .5rem;
    color: rgb(68, 66, 66);
}
.login-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38rem;
    gap: 1rem;
    width: 40%;
    background-color: white;
    flex-direction: column;

}
.line{
    width: 12rem;
}
.login-link {
    display: inline; 
    text-decoration: none;
  }
  .login-p{
    display: inline;
  }
  .account-div small {
    margin: 0;
    padding: 0;
  }
  .account-div{
    margin-bottom: 2rem;
  }
#signInDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24rem;
    margin-bottom: 1rem;
}
.line-div{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:1rem;
}
.btn{
    width: 25rem;
    height:2.5rem;
    margin-top: .5rem;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
    color: white;
    background-color: rgb(81, 81, 180);
}
.login-password-input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    border: 1px solid rgb(71, 70, 70);
    width:25.2rem;
    height: 2.5rem;
}
.login-inputs{
    border-radius: .5rem;
    border: 1px solid rgb(71, 70, 70);
    border: none;
    width:20rem;
    height: 2rem;
}
.login-input{
    border-radius: .5rem;
    border: 1px solid rgb(71, 70, 70);
    width:25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2.5rem;
}
   
.login-input:focus{
    border-color:purple ;
    border-width: 2px;
    outline: none;
}
.password-input-container input:focus {
    border-color: purple;
    border-width: 2px;
    outline: none;
  }
  @media screen and (max-width:900px) {
    .login-div{
        width: 95%;
    }
    .login-inputs{
        height: 2rem;
        border: none;
    }
    .login-input{
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 2.5rem;
    }
    .line{
        width: 15rem;
    }
  }
@media screen and (max-width:600px) {
    .login-div{
        width: 95%;
        height: 35rem;
    }
    .login-password-input-container{
        width: 18rem;
        height: 2.7rem;

    }
    .login-inputs{
        height: 2rem;
        border: none;
    }
    #signInDiv{
        width: 18rem;
    }
    .login-input{
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 18rem;
        height: 2.5rem;
    }
    .line{
        width: 7rem;
    }
    .btn{
        width:18rem ;
    }
}

@media screen and (max-width:360px) {
    .login-div{
        width: 95%;
        height: 35rem;
    }
    .login-password-input-container{
        width: 15rem;
        height: 2.7rem;

    }
    .login-inputs{
        height: 2rem;
        border: none;
    }
    
    .login-input{
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 15rem;
        height: 2.7rem;
    }
    .line{
        width: 5rem;
    }
    .btn{
        width:15rem ;
    }
}