.logout-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw ; 
    padding-top: 1rem;
    margin-bottom: 1rem;
    height: 8rem;
    background-color: black;
}
.img-div{
    width:6.5rem;
    border-radius: 50%;
    height: 6.5rem;
    margin-right:1.5rem;
    background-color: rgb(226, 136, 151);
}
.logo-div{
display:flex;
justify-content: center;
align-items: center;
}
.logo-div >h1{
    color:whitesmoke;
}
.logout-btn {
    border: 1px solid rgb(231, 115, 134); 
    background-color: black;
    color: whitesmoke;
    height: 2.3rem;
    margin-right: 2rem;
    border-radius: 0.3rem;
    width: 8rem;
}